.navbar-nav a {
  font-size: 18px;
}

.button1 {
  color: white;
  background-color: #f44336;
  border: none;
  padding: 7px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 30px;

}
